.remote-wrapper{
	display : flex;
	flex : 1;
	justify-content: center;
	align-items: center;
}

.remote-btn{
	width : 210px;
	height: 210px;
	border-radius : 50%;
	border-width : 0;
	background-color: transparent;
	margin : 50px;
}
.remote-btn:hover, .item:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
/*  opacity : 1;*/
}