.App {
  text-align: center;
  display : flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
  background: linear-gradient(180deg, #9887FF 0%, #6892FF 50%, #68B7FF 100%);
}
body {
  margin : 0;
  padding : 0;
}
/**{
  outline : 1px solid red;
}*/
